*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	/*border: 1px solid black;*/

}


/*-------------------------------------------Mobile First-------------------------------------------*/
body{
	background-color: 	#E8F3E8;
}

/*Landing Page---------------------*/

nav{
	display: none;
}

/* for mobile nav */

#mySidenav{
	display: block;
}
/*side nav css start*/
#navIcon{
position: fixed;
top: 1%;
left: 2%;
display: block;
z-index: 999;
}

#navIcon img{
	height: 25px;
	width: 25px;
	
}
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #305A30;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a{
  padding: 8px 10px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: Helvetica;
}

.sidenav a:hover{
  color: black;
  background-color: #305A30;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 20px;
  margin-left: 50px;
}
/*side nav css end*/

#landing{
	height: 100vh;
	padding: 5%;
}

.piclanding{
	height: 250px;
	width: 300px;
	background-image: url("../images/land3.jpg");
	background-position: center;
	background-size: cover;
	margin:0 auto;
	animation-name: picChange;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	border-radius: 10px;
}

@keyframes picChange{
	20%{
		background-image: url("../images/land1.jpg");
	}

	50%{
		background-image: url("../images/land2.jpg");
	}
}


.btn{
	margin-top: 20px;
	text-align: center;

}

.btn-land{
	padding: 10px 20px;
	border-radius: 15px;
	border:none;
	background-color: #559E54;
	transition: .4s;
	box-shadow: 2px 5px #c9debb;

}
.btn-land:hover{
	background-color: #0A3409;
}

.btn-land > a{
	font-family: 'Lato', sans-serif;
	color: #E8F3E8 ;
	font-size: 20px;
}


.welcome-text > h1{
	font-size: 40px;
	text-align: center;
	margin: 20px;
	color: #305A30 ;
	font-family: 'Lobster', cursive;
}

.welcome-text > p{
	font-size: 20px;
	text-align: center;
	color: #305A30;
	font-family: 'Lato', sans-serif;
}

#logo{
	height: 100px;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*Gallery---------------------*/


/* #gallery2{
	height: 5vh;
} */

#gallery{
	/* height: 95vh; */
	padding-top: 5%;
	padding-bottom: 5%;
}

.gallerypic{
	height: 95%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#gallerypic2{
	display: none;
}

.gallerytitle{
	height: 5%;
}


#gallery h1{
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #305A30 ;
}

.galpic {
	width: 220px;
	height: auto;
	/* border-radius: 10%; */
	border-style: none;
	transition: .3s;
	margin: 10px 0;
}

.galpic:hover{
	transform: scale(1.1);
	box-shadow: 0 5px 5px #c9debb;
}


/*Clients*/

/* #clients2{
	height: 5vh;
} */

#clients{
	/* height: 95vh; */
	padding-top: 5%;
	padding-bottom: 5%;
}

#clients h1{
	text-align: center;
/*	margin-top: 10px;
	margin-bottom: 10px;*/
	font-family: 'Lobster', cursive;
	color: #305A30 ;
}

#clients > div{
 	height: 90%;
 	align-items: center;
 	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.comment{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 180px;
	margin: 10px 0;
}


.comment img{
	height: 100px;
	border-radius: 50%;
	border: 5px solid	#559E54;
	box-shadow: 2px 5px #c9debb;
	
}

.comment > p{
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #305A30;
	font-size: 15px;
	width: 95%;
	padding: 0 10px;
}


/*About Us*/
/* #about2{
	height: 5vh;

} */
#aboutdesk{
	display: none;
}
#about{	
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	height: 100vh;
}

#about img{
	height: 250px;
	margin: 2%;
	
}



.vision > h2{
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: #305A30;
}

#about h1{
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #305A30;
}

#about p{
	font-size: 15px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #305A30;
	padding: 0 10px;
	margin-bottom: 10px;
}



/*Contact---------------------*/

#contact2{
	height: 5vh;
}

#contact h1{
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #305A30;
	margin-bottom: 20px;
}

#contact{
	text-align: center;
	/* height: 85vh; */
}


#mapdiv{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin:2%;
}



.btn-contact{
	padding: 10px 20px;
	border-radius: 15px;
	border:none;
	color: #E8F3E8 ;
	background-color: #559E54;
	transition: .4s;
	box-shadow: 2px 5px #c9debb;
}


.btn a{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

#icons{
	margin-left: 5%;
	height: 50%;
	text-align: left;
	margin-top: 5%;
}
.i-icons  h5{
	display: inline;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-size: 11px;
	letter-spacing: 1px;
}

.i-icons > img{
	display: inline-block;
	height: 30px;
}

.i-icons > a{
	display: inline-block;
}

/*footer*/

footer{
	height:10vh;
	margin-top:50px;
	background-color: #92C591;
	text-align: center;
	display:flex;
	justify-content: center;
}

.container{
	text-align: center;
}

footer a{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: #0A3409;
	font-size: 12px;
	padding-left:5px;
}

footer p{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: #0A3409;
	font-size: 11px;
}


#footerlogo{
	height: 50px;
}
.footer{
	float:left;
}

.footer + div{
	float:right;
}



/*Reservation*/

#reservation{
	/* height: 90vh; */
}

#reservation h1{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 30px;
	color: #305A30;
}

#reserve{
	/* height: 50vh; */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}





.logoreserve{
	text-align: center;
}

#reservelogo{
	height: 100px;
}

#reserve > img{
	height: 200px;
	margin: 1%;
}

#reserve > img:hover{
	transform: scale(1.1);
}

#form{
	/* height: 30%; */
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #305A30;
	font-size: 15px;
	width: 300px;
	margin: 0 auto;
	/* position: relative;
	left: 10%; */
}


#form input{
	display: block;
	height: 20px;
	border: 1px solid #92C591;
	margin: 0 auto;
	margin-bottom: 5px;
	
	
}



#reservation p{
		text-align: center;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		color: #305A30;
}

#reservation h5{
	text-align: center;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	color: #305A30;
	margin: 10px;
}

span{
	animation-name: colorChange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes colorChange{
	0%{
		color: #559E54
	}

	30%{
		color: #305A30 ;
	}

	60%{
		color: 	#0A3409;
	}
}


/*--------------------------------------------------Desktop--------------------------------------------------*/

@media only screen and (min-width: 769px){
	/*Landing Page Desktop*/

	#navIcon, #mySidenav{
		display: none;
	}
	#navlogo{
		height: 100px;
		width: 100px;
		position: absolute;
		top: 0;
		left: 2%;
	}
	nav{
		height: 8vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #305A30;
		position: sticky;
		top: 0;
		z-index: 10;
	
	}
	
	nav > ul{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		list-style-type: none;
	}
	
	nav >ul> li{
		margin: 0 10px;
		font-family: 'Lato', sans-serif;
	}
	
	nav >ul> li> a{
		text-decoration: none;
		color: #E8F3E8;
	}
	

	#landing{
		background-image: url("../images/bgdesk.jpg");
		background-position: center;
		background-size: cover;
	}

	.piclanding{
	display: none;
	}

	#logo{
	height: 350px;
	width: 350px;
	}

	.welcome-text > h1{
	font-size: 60px;
	}

	.welcome-text > p{
	font-size: 20px;
	color: #0A3409;
	font-weight: bold;
	}

	/*Gallery Page Desktop*/

	.gallerytitle > h1{
		font-size: 50px;
	}

	.gallerypic{
		/* margin: 10px 50px; */
	}
	#gallerypic2{
		display: inline-block;
		padding: 2% 9%;
	}

	#gallerypic1{
		display: none;
	}

	.galpic {
	width: 250px;
	height: auto;
	transition: transform .2s;
	margin: 10px;
	}

	.galpic:hover{
		transform: scale(1.1);
	}

	/*Clients Desktop*/
	#clients2{
		height: 15vh;
	}
	#clients > div{
 	height: 95%;
 	width: 100%;
 	align-items: center;
 	display: flex;
	justify-content: space-around;
	flex-direction: row;
	}

	.comment{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 50%;
	height: 50%;
	}

	.comment > p{
		font-weight: bold;
		font-size: 18px;
		color: black;
	}

	.comment img{
		height: 150px;
	}

	#clients > h1{
		font-size: 50px;
	}

	#clients{
		background-image: url("../images/bgdesk.jpg");
		background-position: center;
		background-size: cover;
	}

	/*About Us Desktop*/

	#about h1{
		font-size: 50px;
	}

	#aboutmobile{
		display: none;
	}

	#aboutdesk{
		display: block;
		display: flex;
		align-items: center;
		/* justify-content: space-around; */
		/* width: 100%; */
		/* border: 1px solid black; */
	}
	
	.aboutleft{
		height: 95vh;
		width: 50%;
		text-align: center;
		padding: 2%;
		margin-top: 20px;
	}

	

	#aboutdesk .aboutleft > img{
		height: 400px;
		width: auto;
		/* margin: 1%; */
		/* border-radius: 10%; */
	}

	

	.vision{
		height: 400px;
		/* border: 1px solid black; */
		/* width: 50%; */
	}

	.vision > h2{
		font-family: 'Lobster', cursive;
		font-size: 30px;
		color: #305A30;
	}
	#aboutdesk .vision > p{
		font-size: 18px;
		text-align: center;
		font-family: 'Lato', sans-serif;
		color: #305A30;
		margin-left: 1%;
		margin-right: 1%;
		padding: 0 10px;
	}
	#vis{
		margin-top: 50px;
	}

	.aboutleft h1{
		text-align: center;
		font-family: 'Lobster', cursive;
		color: #305A30;
		font-size: 50px;
	}

	

	/*Contact Us*/



	#contact h1{
		font-size: 50px;
	}

	iframe{
		height: 350px;
		width: 500px;
	}

	#icons{
		margin-left: 5%;
		height: 50%;
		text-align: left;
		margin-top: 5%;
		margin-bottom: 5%;
	}	

	.i-icons{
		text-align: left;
	}

	.i-icons  h5{
		font-size: 20px;
		letter-spacing: 1px;
	}

	.i-icons a{
		padding-left: 5px;
	}


	/*Footer Desktop*/

	footer a{
		font-size: 15px;
	}

	footer p{
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		color: #0A3409;
		font-size: 13px;
	}

	/*Reservation Desktop*/

	#reserve{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}

	#reserve img{
		height: 350px;
	}
	#form{
		width: 500px;
	}
	#form input{
		height: 30px;
		width: 350px;
	}
	#reservation p{
		font-size: 20px;
	}

	#reservation h5{
		font-size: 23px;
	}

}


/*--------------------------------------------------Ipad--------------------------------------------------*/
@media only screen and (min-width: 376px) and (max-width: 768px){

	/*nav*/
	#mySidenav, #navIcon{
		display: none;
	}
	#navlogo{
		height: 50px;
		width: 50px;
		position: absolute;
		left:1%;
		top: 0;
	}
	nav{
		height: 5vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #305A30;
		position: sticky;
		top: 0;
		z-index: 10;
	
	}
	
	nav > ul{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		list-style-type: none;
	}
	
	nav >ul> li{
		margin: 0 10px;
		font-family: 'Lato', sans-serif;
	}
	
	nav >ul> li> a{
		text-decoration: none;
		color: #E8F3E8;
	}
	.block{
		height: 15px;
	}

	/*Landing Page Ipad*/
	#landing{
		background-image: url("../images/bgdesk.jpg");
		background-position: center;
		background-size: cover;
		padding: 15px;
	}

	.piclanding{
	display: none;
	}

	#logo{
	height: 350px;
	width: 350px;
	padding:10px;
	}

	.welcome-text > h1{
	font-size: 70px;
	}

	.welcome-text > p{
	font-size: 50px;
	color: #0A3409;
	}

	.btn-land > a{
		font-family: 'Lato', sans-serif;
		color: #E8F3E8 ;
		font-size: 30px;
	}


	/*Gallery Ipad*/

	.gallerytitle > h1{
		font-size: 50px;
	}

	#gallerypic2{
		display: none;
	}

	.galpic {
	width: 300px;
	height: 300px;
	box-shadow: none;
	transition: transform .2s;
	margin: 10px 0;
	}

	/*Clients Ipad*/


	#clients h1{
	font-size: 50px;
	margin: 10px 0;
}
	.comment{
	height: 200px;
	margin: 25px 0;
}

	.comment img{
	height: 120px;
}

	.comment > p{
	font-size: 25px;
	width: 95%;
}

	#clients{
	 	margin-bottom: 50px;
	}

	/*About Us*/

	#aboutdesk{
		display: none;
	}

	#about img{
		height: 300px;
	}

	#about .aboutlogo{
		height: 15%;
	}
	.vision{
		margin-top: 50px;
	}

	.vision > h2{
		font-size: 30px;
	}

	#about h1{
		font-size: 50px;
	}

	#about p{
		font-size: 25px;
	}


	/*Contact Us*/

	#contact h1{
		font-size: 50px;
	}

	#contact{
		height: 80vh;
	}

	iframe{
		height: 350px;
		width: 500px;
	}

	#icons{
		margin-left: 5%;
		height: 50%;
		text-align: left;
		margin-top: 5%;
		margin-bottom: 5%;
	}	

	.i-icons{
		text-align: left;
	}

	.i-icons  h5{
		font-size: 20px;
		letter-spacing: 1px;
	}

	.i-icons a{
		padding-left: 5px;
	}


	/*Footer Ipad*/

	footer a{
		font-size: 17px;
	}

	footer p{
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		color: #0A3409;
		font-size: 16px;
	}


	/*Reserevation Ipad*/


	#reserve img{
		height: 350px;
		padding: 10px 0;
	}
	#form{
		width: 500px;
	}
	#form input{
		height: 30px;
		width: 350px;
	}

	#reserve > img:hover{
		transform: scale(1.1);
	}

	#reservation > form{
		height: 30%;
	}

	#reservation p{
		font-size: 23px;
	}

	#reservation h5{
		font-size: 25px;
	}

	#reservation h1{
		font-size: 50px;
	}

	input{
		height: 15%;
		width:50%;
		padding: 10px;
	}

	footer a{
		font-size: 17px;
	}

	footer p{
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		color: #0A3409;
		font-size: 16px;
	}

}